 <!--Main Navigation-->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Jiaying Song</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <!--Custom Icon-->
      <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="#F8AA99" class="bi bi-balloon-heart-fill" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8.49 10.92C19.412 3.382 11.28-2.387 8 .986 4.719-2.387-3.413 3.382 7.51 10.92l-.234.468a.25.25 0 1 0 .448.224l.04-.08c.009.17.024.315.051.45.068.344.208.622.448 1.102l.013.028c.212.422.182.85.05 1.246-.135.402-.366.751-.534 1.003a.25.25 0 0 0 .416.278l.004-.007c.166-.248.431-.646.588-1.115.16-.479.212-1.051-.076-1.629-.258-.515-.365-.732-.419-1.004a2.376 2.376 0 0 1-.037-.289l.008.017a.25.25 0 1 0 .448-.224l-.235-.468ZM6.726 1.269c-1.167-.61-2.8-.142-3.454 1.135-.237.463-.36 1.08-.202 1.85.055.27.467.197.527-.071.285-1.256 1.177-2.462 2.989-2.528.234-.008.348-.278.14-.386Z"/>
      </svg>
     
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <% if (title == "Home"){ %>
            <li class="nav-item active"><a class="nav-link active" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
            <% } else  { %>
            <li class="nav-item"><a class="nav-link" href="/home"><i class="fas fa-lg fa-laptop-house"></i> Home </a>
            <% } %>              
            </li>

        <!--link to about page-->
        <% if (title == "About") { %>
          <li class="nav-item active"><a class="nav-link active" href="/about"><i class="fas fa-info-circle"></i> About </a>
          <% } else  { %>
          <li class="nav-item"><a class="nav-link" href="/about"><i class="fas fa-info-circle"></i> About </a>
          <% } %>              
          </li>

          <% if (title =="Projects"){%>
            <li class="nav-item active">
          %>
            <li class="nav-item">  
          <%} %> 
          <li class="nav-item">
            <a class="nav-link"  href="/projects"> <i class="fa-solid fa-clipboard-list"></i> Projects </a>
          </li>

          <% if (title =="Services"){%>
            <li class="nav-item active">
          %>
            <li class="nav-item">  
          <%} %> 
          <li class="nav-item">
            <a class="nav-link"  href="/services"> <i class="fa-solid fa-user-gear"></i> Services </a>
          </li>

          <% if (title =="Contact Me"){%>
            <li class="nav-item active">
          %>
            <li class="nav-item">  
          <%} %> 
          <li class="nav-item">
            <a class="nav-link"  href="/contact"> <i class="fa-solid fa-mobile-screen"></i> Contact Me</a>
          </li>
          
    </div>
  </nav>